@using abcclicktrans.ViewModels
@using System.Globalization
@model abcclicktrans.Data.Models.PaginatedList<abcclicktrans.ViewModels.TransportOrderViewModel>
@{
    ViewData["Title"] = "Zlecenia";
}
<div class="container pb-30">
    <div class="row pt-10">
            <form asp-controller="TransportOrder" asp-action="FilteredOrders" class="row g-3" method="post">
                <div class="input-group ml-5">
                    <input type="text" class="form-control mt-2" name="SearchString" placeholder="Znajdź miasto">
                    <button class="btn btn-outline-secondary ml-2" type="submit" id="button-addon2">Szukaj</button>
                </div>
            </form>
    </div>
    <div class="panel">
        @foreach (var item in Model)
        {
            <details id="torder">
                <summary>
                    <ul>
                        <li class="name">@item.Name</li>
                        <li class="titleValue"><time>Odbiór:</time> @item.PickUpAddress.City</li>
                        <li class="titleValue"><time>Dostawa:</time> @item.DeliveryAddress.City</li>
                    </ul>
                </summary>
                <div class="content">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            @if (@item.ImageSrc != String.Empty)
                            {
                                <a href="@item.ImageSrc" class="img-pop-up">
                                    <img src="@item.ImageSrc" alt="Obraz" class="img-thumbnail">
                                </a>
                            }
                            else
                            {
                                <a href="/assets/img/no-photo.jpg" class="img-pop-up">
                                    <img src="/assets/img/no-photo.jpg" alt="Obraz" class="img-thumbnail">
                                </a>
                            }
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <span class="text-justify text-dark">@item.Description</span>
                            
                            @{
                                var ocpDisabled = !item.OCP ? "checked " : "";
                                var adrDisabled = !item.ADR ? "checked " : "";
                                var tailDisabled = !item.LoadAssistance ? "checked " : "";
                                var loadDisabled = !item.TailLift ? "checked " : "";
                            }
                            <br/><br/>
                            <span>Wymagania</span>
                            <br/>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="ocpcheckbox" @ocpDisabled disabled>
                                <label class="form-check-label" for="ocpcheckbox">OCP</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="adrcheckbox" @adrDisabled disabled>
                                <label class="form-check-label" for="adrcheckbox">ADR</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="loadcheckbox" @loadDisabled disabled>
                                <label class="form-check-label" for="loadcheckbox">Pomoc załadunku</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="tailcheckbox" @tailDisabled disabled>
                                <label class="form-check-label" for="tailcheckbox">Winda</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <span><b>Zleceniodawca:</b></span><br />
                            <span class="txt">Email: @item.User.Email</span><br />
                            @if (item.User.PhoneNumber != null)
                            {
                                <span class="txt">Telefon: @item.User.PhoneNumber</span>
                            }
                            <br/>
                            <span><b>Budżet:</b></span>
                            <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="@item.MaxValue" aria-label="budzet" aria-describedby="basic-addon2" style="text-align:right;" disabled>
                                    <span class="input-group-text" id="basic-addon2">@item.Currency</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <p><b>Adres nadania:</b></p>
                            <span class="text-justify text-dark">
                                Ulica: @item.PickUpAddress.Street<br />
                                Miasto: @item.PickUpAddress.Postal @item.PickUpAddress.City<br />
                                Kraj: @item.PickUpAddress.Country<br />
                            </span>
                            <b>Data nadania:</b>
                            @if (@item.PickupDateTime == null)
                            {
                                <span class="text-justify text-dark">- do ustalenia -</span>
                            }
                            else
                            {
                                <span class="text-justify text-dark">@item.PickupDateTime?.ToShortDateString()</span>
                            }
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <p><b>Adres dostawy:</b></p>
                            <span class="text-justify text-dark">
                                Ulica: @item.DeliveryAddress.Street<br />
                                Miasto: @item.DeliveryAddress.Postal @item.DeliveryAddress.City<br />
                                Kraj: @item.DeliveryAddress.Country<br />
                            </span>
                            <b>Data dostawy:</b>
                            @if (@item.DeliveryDateTime == null)
                            {
                                <span class="text-justify text-dark"> - do ustalenia - </span>
                            }
                            else
                            {
                                <span class="text-justify text-dark"> @item.PickupDateTime?.ToShortDateString() </span>
                            }
                        </div>
                    </div>
                </div>
            </details>
        }
        @{
            var prevDisabled = !Model.PreviousPage ? "disabled" : "";
            var nextDisabled = !Model.NextPage ? "disabled" : "";
        }
        <div class="row pt-20">
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex - 1)"
               class="btn btn-info m-2 @prevDisabled">
                Poprzednia
            </a>
            <a asp-action="Index"
               asp-route-pageNumber="@(Model.PageIndex + 1)"
               class="btn btn-info m-2 @nextDisabled">
                Następna
            </a>
        </div>
    </div>
</div>

